node_modules
build
dist
out
.nyc_output
coverage
c-backend
logs
lib/builtin/watFile/
logs
*.swp
*.wat
*.wasm
*.log
*.swo
example/app-framework/cmake-build/
example/app-framework/out/
.vscode/
tests/benchmark/compile_output/